[suites]
testing = ecosim_surface_balance ecosim_freeze_thaw

testing_no_geochemistry = ecosim_surface_balance ecosim_freeze_thaw

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
default = 1.0e-8 relative
saturation_liquid = 1.e-4 absolute
temperature = 1.e-4 absolute
surface-temperature = 1.e-4 absolute
surface-snow_depth = 1.e-4 absolute

[ecosim_surface_balance]

[ecosim_freeze_thaw]
