[suites]
testing = dualmedia_flow macropore_flow

testing_no_geochemistry = dualmedia_flow macropore_flow

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
default = 1.0e-8 relative
saturation_liquid = 1.0e-6 absolute
macropore-saturation_liquid = 1.0e-6 absolute
water_flux = 1.0e-8 relative
macropore-water_flux = 1.0e-7 relative
water_content = 1.e-8 relative
macropore-water_content = 1.e-7 relative
# note these numbers are based on actual cell volumes and a small
# amount of water, comparable to the ATS absolute tolerance.

[macropore_flow]
[dualmedia_flow]


