# [suites]
# testing = surface_tracer subsurface_tracer
#         column_infiltration column_exfiltration column_drainage 

# testing_no_geochemistry = surface_tracer subsurface_tracer
#         column_infiltration column_exfiltration column_drainage 

# reactive_transport = surface_tracer subsurface_tracer
#         column_infiltration column_exfiltration column_drainage diffuse_three

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
default = 1.e-6 relative 1.e-6

# transport only
# ----------------------------------------------------
[surface_tracer_advection1]
# advects fronts across the domain, 1st order upwind
surface-total_component_concentration =

[surface_tracer_advection2]
# advects fronts across the domain, 2nd order spatial scheme
surface-total_component_concentration =

[surface_tracer_advection3]
# advects fronts across the domain, 2nd order spatial, predictor-corrector temporal
surface-total_component_concentration =

[surface_tracer_diffusion]
# diffusion only, spreads out an initial delta function
surface-total_component_concentration =

[surface_tracer_advection_diffusion]
# advection + diffusion, variable diffusivity
surface-total_component_concentration =

[surface_tracer_advection_diffusion_withsources]
# advection + diffusion, variable diffusivity, C is provided via
# source instead of BC
surface-total_component_concentration =

[surface_tracer_advection_dispersion]
# advection + dispersion, in 1D this is basically the same as diffusion
surface-total_component_concentration =

[surface_tracer_advection_dispersion_2d]
# advection + dispersion, watch the flow-aligned dispersion stretch
# the pulse in the x direction
surface-total_component_concentration =

[subsurface_tracer]
total_component_concentration =
np = 2


# flow + transport
# -----------------------------------------------
[subsurface_flow_tracer]
# rather than prescribing flow, solves for saturated flow, with flows
# timestep slaved to transport
total_component_concentration =
pressure =

[subsurface_flow_tracer_subcycled]
# rather than prescribing flow, solves for saturated flow, subcycling
# transport relative to flow
total_component_concentration =
saturation_liquid =
water_flux = 1.0e-8 relative 0.2


# integrated flow + transport
# -----------------------------------------------
# infiltration problem:
#
# starting with water table 2m below the surface and 0 C everywhere,
# rain water with 1 C onto the domain until the subsurface fills up
# and water starts to pond.
[column_infiltration]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth.cell = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1

[column_infiltration_hot]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1

[column_infiltration_subcycled]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1

# exfiltration problem:
#
# starting with water table 2m below the surface and 1 C everywhere,
# push water with 0 C into the bottom of the column until water
# expresses onto the surface (with 1 C) and water starts to pond.
[column_exfiltration]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth.cell = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1

[column_exfiltration_hot]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth.cell = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1


# drainage problem:
#
# starting with 1 C ponded water and 0 C subsurface water, drain out
# the bottom until the surface has no water left.  Watch the plume
# into the subsurface.
[column_drainage]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth.cell = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1

[column_drainage_hot]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth.cell = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1

[column_drainage_nodispersion]
surface-total_component_concentration =
pressure = 1.e-2 absolute
surface-pressure = 1.e-2 absolute
surface-ponded_depth.cell = 1.e-8 absolute
saturation_liquid.cell = 1.0e-6 absolute
water_flux = 1.0e-8 relative 0.2
surface-water_flux = 1.0e-8 relative 0.1


[diffuse_three]
# this tests diffusivity, which had a bug, and shows that out-of-order
# diffusivity parameters work fine
saturation_liquid.cell = 1.e-6 absolute
total_component_concentration = 1.e-4 relative 1


#[hillslope]
# parallel test
#np = 2

